@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Fira Sans", serif;
    margin-left: 90px;
    margin-right: 90px;
    background: rgb(245, 245, 245);
}
#bd1{
    margin-top: 24px;
    margin-bottom: 24px;
    /* margin-right: 160px; */
    margin-left: 160px;
    display: flex;
    justify-content: space-between;
}
.bd1h{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;}
.bd1b{
    color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
margin: 0px 10px;
padding: 10px 20px 10px 20px;
margin-right: 90px;
} 
#info-flag{
    border-radius: 24px;
background: rgb(198, 228, 214);
width: 1040px;
height: 520px;
margin-top: 20px;
display: flex;
}
.info1{
margin-left: 100px;
}
.info1p{
    padding-top: 117px;
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
}
.info1h{
    margin-top: 18px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 36px;
font-weight: 600;
}
.info1b{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
margin-top: 41px;
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 13px 24px 13px 24px;
}

.flag{
    width: 474.03px;
height: 329.21px;
margin-top: 80px;
margin-left: 64px;
margin-bottom: 70px;
margin-right: 100px;
}
.of{
    margin-top: 80px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}
#pillars{
margin-top: 32px;
display: flex;
justify-content: space-between;
}
.imgpil{width: 49.66px;
    height: 53.09px;
    margin-top: 24px;
    margin-left: 24px;}
.h3pil{color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    margin-left: 24px;
}
.ppil{color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    margin-left: 24px;
    margin-top: 30px;
    margin-bottom: 24px;}
.innovation{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-right: 24px;
}
.sustainability{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-right: 24px;
}
.infrastructure{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-right: 24px;
}
.empowerment{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.abrarh{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
margin-top: 80px;
}
.abrarp{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-top: 24px;
}
.visionimg{
    width: 49.66px;
height: 53.09px;
margin-top: 32px;
margin-right: 32px;
margin-left: 32px;
}
.visionh{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
margin-top: 24px;
margin-right: 32px;
margin-left: 32px;
}
.visionp{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-top: 12px;
margin-right: 32px;
margin-left: 32px;
}
#vision{
    display: flex;
    margin-top: 32px;
}
.digital-transformation{
    box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
width: 410.67px;
height: 325px;
margin-right: 24px;
}
.green-energy{
    box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
width: 410.67px;
height: 325px;
margin-right: 24px;
}
.modern-infrastructure{
    width: 410.67px;
height: 325px;
box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
}
.visionb1{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
border-radius: 8px;
padding: 7px 15px 7px 15px;
background: rgb(84, 144, 245);
margin-top: 48px;
margin-left: 24px;
}
.visionb2{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
border-radius: 8px;
padding: 7px 15px 7px 15px;
background: rgb(9, 161, 92);
margin-top: 48px;
margin-left: 24px;
}
.visionb3{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
border-radius: 8px;
padding: 7px 15px 7px 15px;
background: rgb(255, 194, 57);
margin-top: 48px;
margin-left: 24px;
}
#quote{
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 48px;
    margin-left: 24px;
    margin-bottom: 48px;
    margin-right: 24px;
    background-image: url(resources/quote-bg.png);
    background-repeat: no-repeat;
    background-position: ;
}

.quotep1{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-left: 24px;
margin-top:-40px;
}
.quoteh{
    margin-left: 24px;
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
margin-top: 12px;
}
.quotep2{
    color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-left: 24px;
margin-top: 4px;
margin-bottom: 48px;
}
.rh{color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-top: 112px;
}
.rp{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-top: 24px;
}
#recent1{
    border-radius: 24px;
background: rgb(255, 255, 255);
width: 1140px;
height: 402px;
display: flex;
border: 1px solid rgba(14, 14, 14, 0.15);
margin-top: 32px;
}
.sat1{
    width: 408px;
height: 306px;
border-radius: 24px;
margin-top: 22.5px;
margin-left: 22.5px;
margin-right: -37px;
}
.info1h{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
margin-top: 56px;
}
.info1img{
    width: 134px;
height: 40px;
margin-top: 12px;
}
.date-time1{
    display: flex;
    gap: 8px;
    margin-top: 12px;
}
.date1{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}
.time1{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-left: 2px;
}
.info11p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-top: 12px;
margin-right: 35.5px;
}
.info11b{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 7px 18px 7px 18px;
margin-top: 32px;
}
#recent2{
    border-radius: 24px;
background: rgb(255, 255, 255);
width: 1140px;
height: 402px;
display: flex;
border: 1px solid rgba(14, 14, 14, 0.15);
margin-top: 32px;
}
.sat2{
    width: 408px;
height: 306px;
border-radius: 24px;
margin-top: 22.5px;
margin-left: 22.5px;
margin-right: 65px;
}
.info2h{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
margin-top: 56px;
margin-right: -37px;
}
.info2img{
    width: 134px;
height: 40px;
margin-top: 12px;
}
.date-time2{
    display: flex;
    gap: 8px;
    margin-top: 12px;
}
.date2{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}
.time2{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-left: 2px;
}
.info22p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
margin-top: 12px;
margin-right: 35.5px;
}
.info22b{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 7px 18px 7px 18px;
margin-top: 32px;
}
.info2{
    margin-left: 48px;
}